body{
  /* height: 100%; */
  background-color: #416c41;
  background-image: url("../images/bg3s.jpg");
  background-repeat: no-repeat; /*repeat-x;*/
  background-size: 1900px 500px;

  font-family: 'Roboto', sans-serif;
}
 
/* .photo{
  width: 700px;
  background-color: grey; 
  margin: 0;
    padding: 0;
} */

/* div{ 
  background-color: white;
  width: 50%;
  margin: 0 auto;
  opacity: 0.5;
}*/

#aboutMePicture {
  border-radius: 100%;
  

}

#header{
  color: #c1bca0;
  /*color: darkgreen;*/
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

p{
  color: #c1bca0;
  /*color: darkgreen;*/
  text-align: center;
  font-size: 1.3em;
  /* font-weight: bold; */
}

#button-position {
  text-align: center;
}
button{
  background-color: #0b331f;
  color: #c1bca0;
  font-size: 1.2em;
  padding: 10px 20px;
  
  border-style: solid;
  border-color: #5d7c7e;
  border-radius: 3.5%;
  display: inline-block;
}

/* #fb-button{
  border-radius: 150%;
} */

button:hover, button:visited{
  background-color: #5d7c7e;
}

footer{
  text-align: center;
  margin-bottom: 100px;
}

/* order: link, :visited, hover, active */

a:link, a:visited{
  text-decoration: none;
}

.wrapper {
  text-align: center;
  padding: 250px;
  padding-top: 100px;
}

#break{
  line-height:10;
}

html{
  scroll-behavior: smooth; /*scroll function*/
}

/* w3school */
/* ----------------------------- */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars programming*/
.container {
  width: 60%; /* Full width */
  background-color: #ddd; /* Grey background */
  text-align: center;
  margin: 0 auto; /* container to center*/
  
  
  
  
}

.skills {
  
  /*text-align: right;  Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
 
  
}

.html {
 width: 90%; background-color: #66CDAA;/* Green */
 text-align: center; /*Html text i mitten i bar */
} 
.css {
  width: 80%; background-color: #4682B4;
  text-align: center; /*Html text i mitten i bar */
}

.js {
  width: 65%; background-color: #FA8072;
  text-align: center; /*Html text i mitten i bar */
}

.react {
  width: 50%; background-color: #DC143C;
  text-align: center; /*Html text i mitten i bar */
}

.cCharp {
  width: 53%; background-color: #808080;
  text-align: center; /*Html text i mitten i bar */
}

.ps {
  width: 70%; background-color: #778899;
  text-align: center; /*Html text i mitten i bar */
}

#imgEnlarge:hover{
  transform: scale(2);
  
}


 
/* Container for skill bars language*/

  
.swe {
  width: 97%; background-color: #8FBC8F;/* Green */
  text-align: center; /*Html text i mitten i bar */
 } 
 .eng {
   width: 80%; background-color: #6495ED;
   text-align: center; /*Html text i mitten i bar */
 }
 
 .fr {
   width: 65%; background-color: #FF7F50;
   text-align: center; /*Html text i mitten i bar */
 }
 
 .dk {
   width: 45%; background-color: #5F9EA0;
   text-align: center; }/*Html text i mitten i bar */
   img {
     padding-left: 10px;
     
   }


   hr.new1 {
    border-top: 1px solid #5F9EA0;
    margin-bottom: 100px;
  }
   /* @media */
  @media (max-width: 1000px) {
    .wrapper{
      float: left; 
      margin-left: -170px;
      
    }

    .container {
width: 100%;
    }

    /* footer{
      width: 100%;
  height: auto;
    } */
  }
