body{
  /* height: 100%; */
  background-color: #416c41;
  background-image: url("../images/bg3s.jpg");
  background-repeat: no-repeat; /*repeat-x;*/
  background-size: 1900px 500px;

  font-family: 'Roboto', sans-serif;
}
 


/* #start-info, div{ 
  background-color: white; 
  width: 60%;
  margin: 0 auto;
  text-align: center;
  /* opacity: 0.5; 
}   */

h1, h2, .photoGallerySize, .portfolio, #fb-button, #aboutMe, #fb-button{
  text-align: center;
}


#aboutMePicture {
  border-radius: 100%;
  

}

#header{
  color: #c1bca0;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

p{
  width:100%;
  color: #c1bca0;
  text-align: center;
  font-size: 1.3em;
  /* font-weight: bold; */
}

#button-position {
  text-align: center;
}
button{
  background-color: #0b331f;
  color: #c1bca0;
  font-size: 1.2em;
  padding: 10px 20px;
  
  border-style: solid;
  border-color: #5d7c7e;
  border-radius: 3.5%;
  display: inline-block;
}



button:hover, button:visited{
  background-color: #5d7c7e;
}

footer{
  text-align: center;
  margin-bottom: 100px;
}

/* order: link, :visited, hover, active */

a:link, a:visited{
  text-decoration: none;
}






.wrapper {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#break{
  line-height:3;
}

html{
  scroll-behavior: smooth; /*scroll function*/
}

/* w3school */
/* ----------------------------- */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars programming*/
.container {
  width: 60%; /* Full width */
  background-color: #ddd; /* Grey background */
  text-align: center;
  margin: 0 auto; /* container to center*/

}

.skills {
  
  /*text-align: right;  Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
 
  
}

.html {
 width: 90%; background-color: #66CDAA;/* Green */
 text-align: center; /*Html text i mitten i bar */
} 
.css {
  width: 80%; background-color: #4682B4;
  text-align: center; /*Html text i mitten i bar */
}

.js {
  width: 65%; background-color: #FA8072;
  text-align: center; /*Html text i mitten i bar */
}

.react {
  width: 50%; background-color: #DC143C;
  text-align: center; /*Html text i mitten i bar */
}

.cCharp {
  width: 53%; background-color: #808080;
  text-align: center; /*Html text i mitten i bar */
}

.ps {
  width: 70%; background-color: #778899;
  text-align: center; /*Html text i mitten i bar */
}

.imgEnlarge:hover{
  transform: scale(1.2);
   transition: all 250ms linear;
  
}



 
/* Container for skill bars language*/

  
.swe {
  width: 97%; background-color: #8FBC8F;/* Green */
  text-align: center; /*Html text i mitten i bar */
 } 
 .eng {
   width: 80%; background-color: #6495ED;
   text-align: center; /*Html text i mitten i bar */
 }
 
 .fr {
   width: 65%; background-color: #FF7F50;
   text-align: center; /*Html text i mitten i bar */
 }
 
 .dk {
   width: 45%; background-color: #5F9EA0;
   text-align: center; }/*Html text i mitten i bar */

   img {
     padding-left: 10px;
     transition: all 250ms linear;
     
   }

  


   .hr-border {
    border-top: 1px solid #5F9EA0;
    margin-bottom: 100px;
  }
   
  @media only screen and (min-width: 150px) and (max-width: 600px){

    #header {
      width: 90%;
      font-size: 80%;
      margin: 100px auto;
    }

    
    
  }